body {
    background: #66ff99;
}

.container {
    /* border: 1px solid black; */
    width: 95%;
    height: 100vh;
    display: flex;
    text-align: center;
}

.quotes {
    border: 1px solid black;

    width: 900px;
    height: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    color: #001a00;
    background-color: #ffffcc;
    border: 10px solid black;
}

.quotes p,
.quotes h3 {
    font-size: 1.5rem;
}

@media(max-width:480px) {

    .quotes p,
    .quotes h3 {
        font-size: 1rem;
    }
}

.footer {
    color: black;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
}